{% extends 'base.html' %}
{% load static %}
{% block content %}
<script>
    $(document).ready(function() {
        var eingresos;
        var eegresos;
        var bingresos;
        var begresos;
        var totaleingresos=0.0;
        var totaleegresos=0.0;
        var totalbingresos=0.0;
        var totalbegresos=0.0;
        $('td:nth-child(5)').each(function() {
            eingresos = parseFloat($(this).text());
            totaleingresos += eingresos;
            $('#teingresos').text(totaleingresos);
        });
        $('td:nth-child(6)').each(function() {
            eegresos = parseFloat($(this).text());
            totaleegresos += eegresos;
            $('#teeegresos').text(totaleegresos);
        });
        $('td:nth-child(8)').each(function() {
            bingresos = parseFloat($(this).text());
            totalbingresos += bingresos;
            $('#tbingresos').text(totalbingresos);
        });
        $('td:nth-child(9)').each(function() {
            begresos = parseFloat($(this).text());
            totalbegresos += begresos;
            $('#tbeegresos').text(totalbegresos);
        });
    } );
</script>

<div class="container mt-3">
    <h2>Registro Contable</h2>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Fecha</th>
          <th>Detalle</th>
          <th># Comprobante</th>
          <th>Efectivo ingresos</th>
          <th>Efectivo egresos</th>
          <th>Efectivo saldo</th>
          <th>Banco ingresos</th>
          <th>Banco egresos</th>
          <th>Banco saldo</th>
        </tr>
      </thead>
      <tbody>
        {% for datoregistro in datoregistros %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{datoregistro.fecha}}</td>
            <td>{{datoregistro.detalle}}</td>
            <td>{{datoregistro.ncomprobante}}</td>
            <td>{{datoregistro.eingresos}}</td>
            <td>{{datoregistro.eegresos}}</td>
            <td>{{datoregistro.esaldo}}</td>
            <td>{{datoregistro.bingresos}}</td>
            <td>{{datoregistro.begresos}}</td>
            <td>{{datoregistro.bsaldo}}</td>  
        </tr>
        {% endfor %}
        <tr>
            <th colspan="4">Total</th>
            <th id="teingresos"></td>
            <th id="teeegresos"></td>
            <th></th>
            <th id="tbingresos"></td>
            <th id="tbeegresos"></td>
        </tr>
      </tbody>
    </table>
  </div>

{% endblock %}
